body, html {
    height: '80%';
    overflow: 'hidden';
  }
  .bg {
    background-image: url('./IMG_0532_rs.png');
    position: absolute;
    width: 1920px;
    height: 965px;
    left: 0px;
    top: 0px;

  }