body, html {
    height: '100%';
    overflow: 'hidden';
    background-color: #4C3432;

  }
  .bg {
    background-image: url('./IMG_0532_rs.png');
    position: relative;
    width: 1890px;
    height: 940px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    left: auto;
    top: auto;

  }
  .name {
    /* matt korczynski */
    position: absolute;
    width: 569px;
    height: 67px;
    left: 1241px;
    top: 86px;

    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 83px;
    text-align: right;

    color: #000000;

    filter: blur(2px);
  }
  .cloud {
    /* Rectangle 1 */
    position: absolute;
    width: 585px;
    height: 280px;
    left: 147px;
    top: 259px;
    
    background: rgba(46, 63, 81, 0.56);
    filter: blur(2px);
    border-radius: 15px;
    cursor: 'none';
  }
  .links {
    /* Mine Master - data analysis */
    position: absolute;
    width: 281px;
    height: 36px;
    left: 201px;
    top: 299px;

    font-family: 'Courier';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-transform: lowercase;

    color: #FFFFFF;
  }
  
  .links_faro {
    /* faroese football */

    position: absolute;
    width: 281px;
    height: 36px;
    left: 201px;
    top: 339px;

    font-family: 'Courier';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-transform: lowercase;

    color: #FFFFFF;


  }
  .links_green_house {
    /* green house */

    position: absolute;
    width: 281px;
    height: 36px;
    left: 201px;
    top: 379px;

    font-family: 'Courier';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-transform: lowercase;

    color: #FFFFFF;


  }
  .github_logo {
    position: absolute;
    width: 51px;
    height: 51px;
    left: 105px;
    top: 35px;

    background: url(github-mark.png);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor: 'none';
}
.linkedin_logo {
  position: absolute;
  width: 51px;
  height: 51px;
  left: 40px;
  top: 35px;
  
  background: url(49408.png);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  filter: blur(2px);
  cursor: 'none';
}